input, form, .btn {
    /*font-size: 24px*/
    font-size: 18px;
    letter-spacing: 0.2px;

}

input[type="radio"], input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 5px 10px 15px;
}


.customTextField{
    width: 40%;
    min-width: 40%;
    max-width: 100%;
    background-color: #CBDFE3;
    border: none;
    border-bottom: thin;
    border-bottom-style: ridge;
    border-bottom-color: #1c2d3f;
    padding: 0 10px;

}


body{
    background-color: #B4D2D7;
}


label{
    width:  100%;
}

label[for="id_captcha"]{
    display: none;
}

.g-recaptcha{
    margin-top: 25px;
    display: inline-block;
}

.btn {
    opacity: 0.8;
    /*font-size: 30px;*/
    font-size: 24px;
    font-weight: bold;
    background-color: #132423;
    color:white;
}

.btn:hover {
    opacity: 1;
    font-weight: bold;
    color:white;
}

.btn-disabled,
.btn-disabled:hover{
    opacity: 0.65;
}

ul {
    list-style-type: none;
    padding-bottom: 20px;
    max-width: none;
}

.question-heading {
    /*font-size: 36px;*/
    font-size: 30px;
    font-weight: bold
}

h1.page-heading {
    /*font-size: 36px;*/
    font-size: 30px;
    font-weight: bold
}

p.page-text {
    /*font-size: 22px;*/
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px
}

.question-text {
    /*font-size: 32px;*/
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.coin-container{
    font-size: 14px;
    letter-spacing: normal;
}
.center-horizontal{
    margin: 0 auto;
}

.flexbox{
    display: flex !important;
}
.flexbox.center-h{
    justify-content: space-around;
}

.white{
    color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top-20{
    padding-top: 20px;
}
.an-top-3{
        margin-top: -540px;
}

@media (min-width: 992px){
    .an-top-3{
        margin-top: 0;
    }
}