.n_p_video_container{
    height: 315px;
}

#progressBar {
    width: 560px;
    height: 6px;
    background-color: #444444;
    display: none;
    margin-top: 1px;
}

#progressBar div {
    height: 100%;
    width: 0;
    background-color: #ffffff;
}
.message-container{
    width: 560px;
    height: 321px;
    text-align: center;
    background-color: #000000;
    opacity: 0.7;
    padding-top: 110px;
    margin-top: -321px;
}

