<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/normalize.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/styles.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'poll/scripts/questions.js' %}"></script>
</head>
<body class="bodyStyle">

<div class="container">
 <div class="jumbotron" style=" background-color: #B4D2D7; ">

     <h1 class="page-heading">{{ page.heading }}</h1>


        <p class="page-text">{{ page.text }}</p>

 </div>
 </div>
</body>
</html>