<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% load static %}

    <link rel="icon" href="{% static 'poll/imgs/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/normalize.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/styles.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/lottery.css' %}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

{#    <script type="text/javascript" src="{% static 'poll/scripts/questions.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'poll/scripts/lottery.js' %}"></script>
</head>
<body class="bodyStyle">

<div class="container">
    <div class="jumbotron" style=" background-color: #B4D2D7; ">


        <h1 class="page-heading">{{ page.heading }}</h1>
        <p class="page-text">{{ page.text }} </p>


        {% if page.language == "RU" %}
            По Вашему желанию вы можете выбрать способ участия в данном розыгрыше:

            <br>1) Просим Вас подбросить монетку 10 раз и выставить полученную последовательность на этой странице
            (аверс-реверс, орёл-решка)

            <br>2) Или же используйте сай
            <a href="https://www.random.org/coins/?num=10&cur=60-usd.0001c">random.org </a>, где есть модель случайного
            подбрасывания
            монетки и установить выпавшую последовательносты.

            <br>Среди учасников, которые получили наибольшее количество выпадений монеток "орлом" будет разыграно 10
            призов по 500 гривень каждый. После отправки данных на этой сторанице вы получите 10-значний код.
            Коды 10 победителей будут опубликованы на странице
            <a href="https://www.facebook.com/atlantynespisuyut/">"Атланти не списують"</a> в Facebook.

        {% elif  page.language == "UA" %}
            За Вашим бажанням ви можете вибрати спосіб участі:

            <br>1) Просимо підкинути монетку 10 разів і виставити отриману послідовність на цій сторінці (аверс-реверс,
            орел-решка)

            <br>2) Використати сайт <a href="https://www.random.org/coins/?num=10&cur=60-usd.0001c">random.org </a>, де
            є модель випадкового кидання монети і виставити отриману послідовність.

            <br>Серед учасників, які отримали найбільшу кількість випадань монеток "орлом" буде проведено розіграш 10
            призів по 500 гривень кожен. Після підтвердження введення даних на цій сторінці ви отримаєте 10-значний код.
            Саме коди 10 переможців будуть опубліковані на сторінці
            <a href="https://www.facebook.com/atlantynespisuyut/"> "Атланти не списують"</a> у Facebook після закінчення
            розіграшу.




        {% endif %}





        <form id="mainForm" action="/poll/next_page" method="post" >
            {% csrf_token %}
            <div class="row top-20 coin-container">
                <div class="col col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-1">
                    <label>
                        1.
                        <img id="coin1_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin1_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin1_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin1_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-md-2">
                    <label>
                        2.
                        <img id="coin2_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin2_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin2_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin2_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0">
                    <label>
                        3.
                        <img id="coin3_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin3_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin3_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin3_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-md-2">
                    <label>
                        4.
                        <img id="coin4_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin4_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin4_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin4_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0">
                    <label>
                        5.
                        <img id="coin5_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin5_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin5_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin5_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
            </div>
            <div class="row coin-container">
                <div class="col col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-1 col-md-push-2">
                    <label>
                        7.
                        <img id="coin7_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin7_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin7_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin7_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-md-2 col-md-push-2">
                    <label>
                        8.
                        <img id="coin8_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin8_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin8_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin8_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-push-2">
                    <label>
                        9.
                        <img id="coin9_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin9_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin9_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin9_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-md-2 col-md-push-2">
                    <label>
                        10.
                        <img id="coin10_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin10_tail" class="coin" style="display: none;"
                             src="{% static 'poll/imgs/tail.png' %}" alt="">
                        <img id="coin10_head" class="coin" style="display: none;"
                             src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin10_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
                <div class="col col-sm-4 col-sm-offset-0 col-sm-pull-0 col-sm-push-6 col-md-2 col-md-offset-1 col-md-push-0 col-md-pull-9 an-top-3">
                    <label>
                        6.
                        <img id="coin6_unknown" class="coin" src="{% static 'poll/imgs/unknown.png' %}" alt="">
                        <img id="coin6_tail" class="coin" style="display: none;" src="{% static 'poll/imgs/tail.png' %}"
                             alt="">
                        <img id="coin6_head" class="coin" style="display: none;" src="{% static 'poll/imgs/head.png' %}"
                             alt="">
                        <input id="coin6_checkbox" class="coin-checkbox" type="checkbox">
                    </label>
                </div>
            </div>

         {% if page.language == "RU" %}
            Ваш 10-значный код для участия в лотарее. Сохраните или запишите его, чтобы не потерять.

        {% elif  page.language == "UA" %}
            Ваш 10-значний код для участі у лотареї. Збережіть або запишіть його, щоб не загубити.

        {% endif %}

            <ul>
               {{ lottery_number }}
            </ul>
            <div style="text-align: center">
                <input id="submitBtn"
                       type="submit"
                       class="btn"

                        {% if page.language == "UA" %}
                       value="Відповісти "
                        {% elif  page.language == "RU" %}
                       value="Ответить"
                        {% endif %}
                       onclick=" $('#mainForm').submit();">
            </div>
        </form>

    </div>
</div>
</body>
</html>