<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="icon" href="{% static 'poll/imgs/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/normalize.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/styles.css' %}">

    <link rel="">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl=uk'></script>

    <script type="text/javascript" src="{% static 'poll/scripts/questions.js' %}"></script>


    <title>{{ page.title }}</title>
</head>


<body style="background-color: #B4D2D7; ">

<div class="container">

    <div class="jumbotron" style=" background-color: #B4D2D7; ">

        <h1 class="page-heading">{{ page.heading }}</h1>
        <p class="page-text">{{ page.text }}</p>
        <form action="/poll/next_page" method="post">
            {% csrf_token %}
            <div style="text-align: center">

                {{ captcha_form }}

                <div>
                    {#                     <input type="submit" value="Прийняти участь в опитуванні" class="btn">#}
                    <input type="submit" value="Почати опитування" class="btn">
                </div>


                <img class="atlant" src="{% static 'poll/imgs/atlant.png' %}" alt="atlant" style="float: right;">
                {#                <div style="background: url({% static 'poll/imgs/atlant.png' %}) no-repeat center right; min-height: 350px;">#}

                {#                </div>#}
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var RecaptchaOptions = {
        lang: 'uk'
    };
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98284703-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>