<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    {% load static %}

    <link rel="icon" href="{% static 'poll/imgs/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/normalize.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/styles.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/video.css' %}">

    <link rel="">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'poll/scripts/questions.js' %}"></script>

</head>
<body class="bodyStyle">
    <div class="contaier">
        <div class="jumbotron" style=" background-color: #B4D2D7; ">
            <h1 class="">{{ page.heading }}</h1>
            <p>{{ page.text }}</p>

{#              <iframe class="center-horizontal" style="display: block;" width="560" height="315" src="{{ video.url }}&autoplay=1" frameborder="0" allowfullscreen></iframe>#}

            <div class="now_playing">
                 <div class="n_p_video_container">
                    <div class="n_p_video_play"></div>
                    <div id="ytplayer" class="center-horizontal" style="display: block;"></div>
                </div>
                <div class="n_p_video_progressbar">
                    <div id="progressBar" class="center-horizontal">
                        <div></div>
                    </div>
                </div>
            </div>
            <div id="messageContainer" class="message-container center-horizontal">
                    <p class="white">Перегляньте, будь ласка, коротке відео</p>
                    <p class="white">(перед переглядом увімкніть звукові динаміки на Вашому комп'ютері)</p>
            </div>
            <form action="/poll/next_page" method="post">
                {% csrf_token %}
                <div style="text-align: center">
                    <input id="btnSubmit" type="submit" value="Далі" class="btn btn-disabled" disabled>
                </div>
            </form>
        </div>
    </div>

    <script>

var tag = document.createElement('script');
var player;
var interval;
var videoLoaded = false;

setTimeout(startVideoIfLoaded, 6000);

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

function startVideoIfLoaded(){
    if(videoLoaded){
        $('#messageContainer').animate({opacity: 0}, 500).hide();
         player.playVideo();
    } else {
        setTimeout(startVideoIfLoaded, 3000);
    }
}

function progress(percent, $element) {
  var progressBarWidth = percent * $element.width();
  //$element.find('div').animate({ width: progressBarWidth }, 500).html(percent + "%&nbsp;");
  $element.find('div').animate({ width: progressBarWidth });
}

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.

function onYouTubeIframeAPIReady() {
    var videoId = '{{ video.url }}'.match(/embed\/(.*)\?rel/)[1];
    player = new YT.Player('ytplayer', {
      height: '315',
      width: '560',
      videoId:  videoId,//'o3arR_WGJf8',
        playerVars: {
        'controls' : 0,
        'modestbranding' : 1,
        'rel' : 0,
        'showinfo' : 0
      },
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
    $('#progressBar').show();
}

// 4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
//    player.playVideo();
    videoLoaded = true;
}

// 5. The API calls this function when the player's state changes.
//    The function indicates that when playing a video (state=1),
//    the player should play for six seconds and then stop.

function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
      var playerTotalTime = player.getDuration();

      interval = setInterval(function() {
        var playerCurrentTime = player.getCurrentTime();
        var playerTimeDifference = (playerCurrentTime / playerTotalTime);
        progress(playerTimeDifference, $('#progressBar'));
      }, 500);
    } else if (event.data == YT.PlayerState.ENDED){
        clearTimeout(interval);
         $('#progressBar').hide();
         $('#btnSubmit').prop('disabled', false).removeClass('btn-disabled');
    } else {
      clearTimeout(interval);
    }
}

function stopVideo() {
    player.stopVideo();
}
    </script>
</body>
</html>